.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(228, 228, 228);
}

.sort-button-container{
  display: flex; 
  justify-content: space-evenly;
  width: 50rem;
}

.sort-button{
  margin: 3px;
  padding: 1px;
}